{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_post') }}" method="post" id="addPost">
	<input type="text" name="title" placeholder="Title" id="titleInput">
	<input type="text" name="body" placeholder="Body HTML" id="bodyInput">
	<input type="submit" value="Post" id="submitbutton">
</form>
<ul class="removePosts">
<form action="{{ url_for('delete_post') }}">
{% for post in posts %}
		
			<li class="postTitle">{{ post.title }}<input type="checkbox" name="id" value="{{ post.id }}" class="deleteCheck"/></li>
{% endfor %}	
<input type="submit" name="Delete" value="Delete" class="deleteSubmit" />
</form>
</ul>
{% endblock %}