{% extends "layout.html" %}
{% block body %}
<div class="containter-fluid">
	<div class="row-fluid">
		<section class="sidebar span2">
			<p>A super simple blog running on Flask, sqlite, and love. Written by Luke Wright to better understand programming, web apps, Twitter Bootstrap, and Flask.</p>
			<p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, itaque autem exercitationem doloribus adipisci eveniet voluptates rem possimus fuga blanditiis nesciunt assumenda error molestiae nobis quibusdam alias debitis dignissimos ullam.</p>
		</section>
		<section class="posts span10">
			{% for post in posts %}
				<article class="post">
					<h2 class="postTitle">{{ post.title }}</h2>
					<div class="postBody">
						{{ post.body|safe }}
					</div>
				</article>
			{% else %}
				<h2>No posts!</h2>
			{% endfor %}
		</section>
	</div>
</div>
{% endblock %}